<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  h2{
    font-family: 'Roboto', sans-serif;
  }
  h5{
    font-family: 'Roboto', sans-serif;
  }
  #color
  {
    color: blue;
  }
  .button{
  background-color: rgb(247, 244, 244);
  border: none;
  color: rgb(161, 158, 158);
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}
.button2
{
  background-color: rgb(9, 245, 127);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}
.button3
{
  background-color: rgb(194, 243, 220);
  border: none;
  color: rgb(9, 245, 127);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}
</style>

<div class="jumbotron" >
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2 style="color: grey;">App V2.1 released</h2>
        </div>
        <div class="col-sm">
          <button class="button">2020-11-20</button>
        </div>
        <div class="col-sm">
         
        </div>
      </div>
    </div>
    <br>
    <div class="container">
<h6 >This release Contains large update of the German Translation and few bug fixes </h6>
<h6>Eager to learn more about the new features ? Follow us on <span id="color"> Facebook,Twitter</span> or <span id="color">Linkedin.</span> </h6>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <button class="button2">Go To Download Page</button>
    </div>
    <div class="col-sm">
      <button class="button3">Complete List of Changes</button>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
<br><br><br><br>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2 style="color: grey;">App V2.0 released</h2>
    </div>
    <div class="col-sm">
      <button class="button">2020-10-15</button>
    </div>
    <div class="col-sm">
     
    </div>
  </div>
</div>
<br>
<div class="container">
<h6 >In this release,App was updated to OpenSSL 1.1.1h. This Version also fixes several bugs and adds some small improvents. </h6>
</div>
<button class="button3">Complete List of Changes</button>





</div>
</div>


<router-outlet></router-outlet>